<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title: ''}}</p>
    <img src="../../../assets/icon/logo.png" alt="logo if" width="150px" height="150px">
    <h1 class="ion-text-center">iFinanças</h1>
  </ion-text>
</div>